/**Check what this body text does**/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/**Background image styling, through the sections**/
.hero-image1 {
  background-image: url("rotoruatrees.jpg");
  background-color: black;
  height: 1000px;
  filter: saturate(0%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;

}

.hero-image1:hover {
opacity: 1;
}

.Hometag
{
  display: block;
  color: whitesmoke;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

.hero-image2 {
  background-image: url("mangawhai.jpg");
  background-color: #cccccc;
  height: 1000px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

.hero-image2:hover {
  opacity: 1;
  }

.hero-image3 {
  background-image: url("otago.jpg");
  background-color: #cccccc;
  height: 1000px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

.hero-image3:hover {
  opacity: 1;
  }

.hero-image4 {
  background-image: url("colo-i-suva.jpg");
  background-color: #cccccc;
  height: 1000px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

.hero-image4:hover {
  opacity: 1;
  }

/**Styling the text**/
h1 {
  text-align: left;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

/**Styling the translation element**/
.google_translate_element {
  margin:  0;
  padding: 100px;
}

/**Styling my navigation section**/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  text-align: left;
  display: block;
  color: whitesmoke;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

address {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: whitesmoke;
  text-align: left;
}

.mail a {
  color: whitesmoke;
}

.link { color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
}

 /* CSS link color (white) */
.link:hover { color: wheat; } /* CSS link hover (wheat) */

a:link {
  color: wheat;
  text-align: right;
  position: relative;
  text-decoration: none;
}

a:visited {
  color: wheat;
}

a:hover {
color: wheat;
}

a:active {
  color: wheat;
}

div.relative {
  position: relative;
  width: 50%;
  bottom: 5px;
} 
